<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/08a211b14c.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            listdata();
        })
        function hapus_data(id) {
            let text = "Press a button!\nEither OK or Cancel.";
            if (confirm(text) == true) {
                text = "true";
            } else {
                text = "You canceled!";
            }
            if (text === 'true'){
                let form_data = new FormData();
                form_data.append('id_give', id);
                $.ajax({
                    type: 'POST',
                    url: '/♎︎♏︎●︎♏︎⧫︎♏︎♎︎♋︎⧫︎♋︎',
                    data: form_data,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        let msg = response['msg']
                        window.location.reload()
                    }
                })
            }
        }

        function listdata() {
            $.ajax({
                type: "GET",
                url: "/♎︎♋︎⧫︎♋︎",
                data: {},
                success: function data(response) {
                    let rows = response['data']
                    for (let i = 0; i < rows.length; i++) {
                        let row = rows[i];
                        let nama = row['nama'];
                        let jeniskelamin = row['jeniskelamin'];
                        let usia = row['usia'];
                        let pendidikan = row['pendidikan'];
                        let jenislayanan = row['jenislayanan'];
                        let pekerjaan = row['pekerjaan'];
                        let jawaban1 = row['jawaban1'];
                        let jawaban2 = row['jawaban2'];
                        let jawaban3 = row['jawaban3'];
                        let jawaban4 = row['jawaban4'];
                        let jawaban5 = row['jawaban5'];
                        let jawaban6 = row['jawaban6'];
                        let jawaban7 = row['jawaban7'];
                        let jawaban8 = row['jawaban8'];
                        let jawaban9 = row['jawaban9'];
                        let id = row['id']
                        let date = row['date'];
                        let temp_html = `
                        <tr>
                            <th scope="row">${date}</th>
                            <td>${nama}</td>
                            <td>${jeniskelamin}</td>
                            <td>${usia}</td>
                            <td>${pendidikan}</td>
                            <td>${jenislayanan}</td>
                            <td>${pekerjaan}</td>
                            <td>${jawaban1}</td>
                            <td>${jawaban2}</td>
                            <td>${jawaban3}</td>
                            <td>${jawaban4}</td>
                            <td>${jawaban5}</td>
                            <td>${jawaban6}</td>
                            <td>${jawaban7}</td>
                            <td>${jawaban8}</td>
                            <td>${jawaban9}</td>
                            <td><button type="button" onclick="hapus_data('${id}')" class="btn btn-outline-warning">Hapus</button></td>
                        </tr>`
                        $('#data-place').empty();
                        $('#data-place').append(temp_html);

                    }

                }
            })
        }
    </script>

</head>

<body>
    <div class="listdata">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">date</th>
                    <th scope="col">nama</th>
                    <th scope="col">jeniskelamin</th>
                    <th scope="col">usia</th>
                    <th scope="col">pendidikan</th>
                    <th scope="col">Jenis Layanan</th>
                    <th scope="col">Pekerjaan</th>
                    <th scope="col">U1</th>
                    <th scope="col">U2</th>
                    <th scope="col">U3</th>
                    <th scope="col">U4</th>
                    <th scope="col">U5</th>
                    <th scope="col">U6</th>
                    <th scope="col">U7</th>
                    <th scope="col">U8</th>
                    <th scope="col">U9</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <tbody id="data-place">

            </tbody>
        </table>
    </div>
    <!-- Button trigger modal -->
    <button id="open" style="display: none;" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">
        Launch static backdrop modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>yakin ingin menghapus data ini?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak!</button>
                    <button type="button" class="btn btn-primary" id="ya">YA</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>