<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sukses</title>
    <style>
        html,body{
            width: 100%;
            height: 100%;
        }
        .text{
            position: relative;
            width: 100%;
            height: 100%;
            font-size: large;
            /* align-items: center; */
            /* justify-content: center; */
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="text"><span>TERIMA KASIH SUDAH TELAH MELUANGKAN WAKTUNYA UNTUK MEMBERI PENIAIAN</span></div>
</body>
</html>